/*  Animações do App: */

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

.loading-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-green);
  margin: 0 10px;
  animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.hidden {
  display: none;
}

