@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 /* Cores */
:root {
  --background: #DBEFE4;
  --color-green: #2AB572;
  --color-yellow: #FFBA00;
  --color-text: #303030;
  --bg-form: #FAFAFA;;
}

body {
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
}

.header-green {
  width: 100vw;
  height: 4%;
  background-color: var(--color-green);
}

.header-yellow {
  width: 100vw;
  height: 4%;
  background-color: var(--color-yellow);
}

.search {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.search-box {
  width: 90%;
  display: flex;
  background-color: var(--bg-form);
  justify-content: center;
  align-items: center;
  border: solid var(--color-text);
  border-radius: 20px;
}
.search-box > input {
  width: 94%;
  border: 2px white solid;
  border-radius: 30px;
  height: 50px;
  color: var(--color-text);
  padding: 10px;
  font-size: 15px;
}  

.search-box > input [type="search"]:hover {
  color: var(--bg-form);
}
 
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.search-box > button {
  font-size: 20px;
  margin-right: 1rem;  
  border:none;
  cursor: grab;
  background-color: transparent;
}

.line {
  border: 1px solid var(--color-text);
  opacity: 80%;
  width: 100vw;
  border-style: dotted;
  margin-top: 1rem;
}
