@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 /* Cores */
:root {
  --background: #DBEFE4;
  --color-green: #2AB572;
  --color-yellow: #FFBA00;
  --color-text: #303030;
}

body {
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100vw;
}

.header-green {
  height: 4%;
  background-color: var(--color-green);
}


.header-yellow {
  height: 4%;
  background-color: var(--color-yellow);
}

.container-image {
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    filter: blur(2.5px);
    cursor: pointer;
  }
}

img {
  border-radius: 100%;
  margin: 24%;
  width: 280px;
  height: 267px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.infor {
  display: flex;
  justify-content: space-between;
  margin-top: 15%;
  width: 100%;
}

.text {
  font-weight: 600;
  color: var(--color-text);
  font-size: 25px;
  line-height: 38.4px;
  margin-left: 8px;
}

span {
  background-color: var(--color-green);
  width: 200px;

  border-radius: 18px;
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.circle > a {
  background-color: var(--color-green);
  width: 70px;
  text-decoration: none;
  height: 65px;
  margin: 3%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-circle {
  background-color: var(--background);
  width: 55px;
  height: 50px;
  margin: 3%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  font-size: 2rem;
  color: var(--color-text);
}

.text-infor {
  color: #000;
  opacity: 60%;
  font-weight: 400;
  font-size: 15px;
  line-height: 38.4px;
  margin-left: 8px;
  margin-top: 1.9rem;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: var(--color-text);
}