@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 /* Cores */
:root {
  --background: #DBEFE4;
  --color-green: #2AB572;
  --color-yellow: #FFBA00;
  --color-text: #303030;
}

body {
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
}

.login {
  height: 100vh;
}


.header-green {
  width: 100vw;
  height: 4%;
  background-color: var(--color-green);
}

.header-yellow {
  width: 100vw;
  height: 4%;
  background-color: var(--color-yellow);
}


.title {
  color: var(--color-text);
  text-align: center;
  font-weight: 400;
  line-height: 48px;
  margin-top: 45px;
}

.text-title {
  font-weight: 400;
  color: var(--color-green);
  text-align: center;
  margin-top: 66px;
  font-size: 14px;
  line-height: 14.5px;
}

.span {
  font-weight: 700;
  text-decoration: underline;
}
.form {
  position: absolute;
  margin-top: -10px;
  transition: .5s;
  width: 100%;
  height: 50%;
}


.container-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

#input-user {
  margin-top: 51px;
  border-radius: 20px;
  padding: 20px 20px 20px;;
  outline: none;
  width: 80%;
  text-align: initial;
  border: none;
  height: 45px;
  background-color: #FAFAFA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#input-password {
  margin-top: 51px;
  border: none;
  border-radius: 20px;
  padding: 20px 20px 20px;
  outline: none;
  width: 80%;
  text-align: initial;
  height: 45px; 
  background-color: #FAFAFA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-text {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 2.8rem;
  width: 6.8rem;
  margin-top: 0.9rem;
}

a {
  text-decoration: underline;
  color: var(--color-text);
  opacity: 60%;
}

.container-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 78px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-green);
  width: 80%;
  height: 40px;
  color: #FFFF;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  color: var(--color-text);
  border: 2px solid var(--color-green);
}

.arrow {
  margin: 2.5rem;
  font-size: 2rem;
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 48px;
  text-align: center;
  border-radius: 100%;
  background-color: var(--color-green);
}

.arrow-color {
  background-color: #fff;
  width: 40px;
  border-radius: 20px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.arrow > a {
  color: var(--color-text);
  text-decoration: none;
}
 
i {
  margin: 0.4rem;
  font-size: 28px;
}

.footer {
  margin-top: 21%;
}

footer {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  line-height: 14px;
  color: var(--color-text);
  height: 2rem;
  width: 100%;
}

/* obs: Fazer assustes na responsividade das telas  
@media (min-width: 672px)  {
  .container-text {
    color: palevioletred;
    margin-left: 3.7rem;
    background-color: red;
  }
}

@media (min-width: 682px)  {
  .container-text {
    color: palevioletred;
    margin-left: 3.7rem;
    background-color: blueviolet;
  }
}

@media (min-width: 700px)  {
  .container-text {
    color: palevioletred;
    margin-left: 3.2rem;
    background-color: #FFBA00;
  }
}

@media (min-width: 710px)  {
  .container-text {
    color: palevioletred;
    margin-left: 4.2rem;
    background-color: blueviolet;
  }
}

@media (min-width: 769px)  {
  .container-text {
    color: palevioletred;
    margin-left: 4.7rem;
    background-color: blueviolet;
  }
}
*/